.details{
    text-align: center;
}
.answers{
    padding: 2rem;
    overflow:auto;
    height: 700px;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: red;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: #b30000;
}


.answers p{
    font-family:Arial,sans-serif;
    font-size: 16px;
    word-wrap: break-word;
    line-height: 1.5;
    color:  #ececf1;
    text-rendering: optimizeLegibility;
    white-space: pre-wrap;
    max-width: 800px;
    margin: 0 auto;
    
}

.inbt{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}
.inbt input{
    padding: 10px;
    font-size: 18px;
    width: 100%;
}

